body {
    margin:30px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
	/* background-color: #FFEBEE */
}

.form-container{
    width: 400px;
    background-color: #fff;
    border-radius: 12px

}

.form-group{
    margin-top: 15px;
    position: relative;
}
.form-group.error input{
    border:1px solid red
}
.form-group.success input{
    border:1px solid green
}
.form-group input,
.form-group select {
    padding-right: 40px; /* Adjust input/select field padding to accommodate icons */
}


.form-group.success i.fa-check-circle{
    visibility: visible;
}
.form-group.error i.fa-exclamation-circle{
    visibility: visible;
} 

.form-group i{
    visibility: hidden;
    position: absolute;
    right:3%;
    top:56%
} 

.form-group.error input:focus{
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
}
.form-group.success input:focus{
    box-shadow: 0 0 0 0.25rem rgba(0, 255, 0, 0.25);
}

.form-group.error select:focus{
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
}
.form-group.success select:focus{
    box-shadow: 0 0 0 0.25rem rgba(0, 255, 0, 0.25);
}



button[type="submit"]
{
    margin-top: 20px;
}
